*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #E5E5E5;
}

.classTop {
  margin-top: 5em;
}

.header {
  width: 100%;
  height: 55px;
  background-color: #f55a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  top: 0;
  position: fixed;
  z-index: 2;

}

.header-text {
  font-size: 14.46px;
  font-weight: 500;
  font-family: Inter;
  padding-left: 0.5em;
  color: white;
  line-height: 17.5px;
  letter-spacing: -7.5%;
  position: absolute;
  top: 1.2em;
}

/* Content Main */
.content-main {
  width: 550px;
  background-color: white;
  margin: 0 auto;
  padding: 2em 0;
}


/* Activities */
.img-VS-content {
  width: 471px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
}

.image {
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.places {
  display: flex;
  gap: 5px;
}

.places > img {
  width: 7px;
}

.places > p{
  display: inline-block;
  font-family: Inter;
  font-size: 10.24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #2B283A;
  /* padding: auto 10px; */
}

.places > a {
  font-family: Inter;
  font-size: 10.24px;
  color: #918E9B;
} 

.visits {
  position: relative;
  top: 0;
  left: -20px;
}

.visits a{
  white-space: nowrap;
  font-family: Inter;
  color: #2B283A;
  font-size: 23px;
  font-weight: 700;
  margin: 0.3em 0;
  text-decoration: none;
}

.visits::before{
  content: '🔗';
  position: relative;
  inset: 0;
  visibility:hidden;
}

.visits:hover::before {
  visibility: visible;
}

.dates {
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
}

.description {
  font-family: Inter;
  font-size: 13.24px;
  margin-top: 1em;
}

/* Navbar */
.side-navbar {
  background-color: white;
    position: fixed;
    top: 5em;
    left: 2em;
    padding: 1em;
}

.side-navbar 
.heading h1 {
  font-family: calibri;
  font-size: 20px;
  text-transform: uppercase;
}

.side-navbar 
.heading p {
  font-family: calibri;
  font-size: 14px;
  margin: 2px 0;
  color: #918E9B;
}

.nav-places li {
  list-style: none;
  padding: 5px;
  border-top: 1px solid #918E9B;
}

.nav-places a {
  text-decoration: none;
  font-family: calibri;
  color: #2B283A;
}


